* {
  box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  align-items: center; }

.calendar {
  display: grid;
  grid-template: repeat(6, 100px)/repeat(7, 100px);
  grid-gap: 1px;
  font-family: Arial, sans-serif;
  font-size: 30px; }

.calendar-28 > div:nth-child(1):after {
  content: "1";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(1) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(1):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(2):after {
  content: "2";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(2) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(2):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(3):after {
  content: "3";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(3) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(3):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(4):after {
  content: "4";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(4) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(4):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(5):after {
  content: "5";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(5) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(5):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(6):after {
  content: "6";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(6) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(6):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(7):after {
  content: "7";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(7) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(7):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(8):after {
  content: "8";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(8) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(8):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(9):after {
  content: "9";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(9) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(9):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(10):after {
  content: "10";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(10) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(10):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(11):after {
  content: "11";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(11) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(11):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(12):after {
  content: "12";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(12) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(12):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(13):after {
  content: "13";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(13) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(13):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(14):after {
  content: "14";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(14) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(14):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(15):after {
  content: "15";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(15) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(15):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(16):after {
  content: "16";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(16) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(16):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(17):after {
  content: "17";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(17) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(17):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(18):after {
  content: "18";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(18) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(18):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(19):after {
  content: "19";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(19) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(19):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(20):after {
  content: "20";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(20) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(20):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(21):after {
  content: "21";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(21) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(21):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(22):after {
  content: "22";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(22) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(22):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(23):after {
  content: "23";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(23) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(23):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(24):after {
  content: "24";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(24) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(24):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(25):after {
  content: "25";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(25) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(25):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(26):after {
  content: "26";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(26) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(26):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(27):after {
  content: "27";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(27) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(27):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-28 > div:nth-child(28):after {
  content: "28";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-28 > div:nth-child(28) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-28 > div:nth-child(28):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(1):after {
  content: "1";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(1) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(1):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(2):after {
  content: "2";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(2) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(2):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(3):after {
  content: "3";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(3) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(3):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(4):after {
  content: "4";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(4) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(4):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(5):after {
  content: "5";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(5) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(5):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(6):after {
  content: "6";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(6) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(6):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(7):after {
  content: "7";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(7) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(7):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(8):after {
  content: "8";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(8) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(8):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(9):after {
  content: "9";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(9) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(9):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(10):after {
  content: "10";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(10) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(10):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(11):after {
  content: "11";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(11) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(11):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(12):after {
  content: "12";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(12) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(12):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(13):after {
  content: "13";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(13) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(13):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(14):after {
  content: "14";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(14) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(14):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(15):after {
  content: "15";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(15) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(15):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(16):after {
  content: "16";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(16) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(16):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(17):after {
  content: "17";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(17) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(17):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(18):after {
  content: "18";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(18) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(18):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(19):after {
  content: "19";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(19) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(19):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(20):after {
  content: "20";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(20) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(20):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(21):after {
  content: "21";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(21) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(21):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(22):after {
  content: "22";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(22) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(22):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(23):after {
  content: "23";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(23) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(23):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(24):after {
  content: "24";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(24) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(24):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(25):after {
  content: "25";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(25) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(25):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(26):after {
  content: "26";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(26) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(26):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(27):after {
  content: "27";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(27) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(27):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(28):after {
  content: "28";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(28) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(28):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-29 > div:nth-child(29):after {
  content: "29";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-29 > div:nth-child(29) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-29 > div:nth-child(29):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(1):after {
  content: "1";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(1) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(1):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(2):after {
  content: "2";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(2) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(2):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(3):after {
  content: "3";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(3) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(3):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(4):after {
  content: "4";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(4) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(4):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(5):after {
  content: "5";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(5) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(5):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(6):after {
  content: "6";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(6) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(6):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(7):after {
  content: "7";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(7) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(7):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(8):after {
  content: "8";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(8) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(8):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(9):after {
  content: "9";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(9) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(9):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(10):after {
  content: "10";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(10) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(10):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(11):after {
  content: "11";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(11) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(11):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(12):after {
  content: "12";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(12) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(12):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(13):after {
  content: "13";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(13) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(13):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(14):after {
  content: "14";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(14) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(14):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(15):after {
  content: "15";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(15) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(15):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(16):after {
  content: "16";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(16) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(16):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(17):after {
  content: "17";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(17) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(17):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(18):after {
  content: "18";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(18) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(18):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(19):after {
  content: "19";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(19) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(19):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(20):after {
  content: "20";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(20) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(20):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(21):after {
  content: "21";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(21) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(21):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(22):after {
  content: "22";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(22) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(22):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(23):after {
  content: "23";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(23) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(23):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(24):after {
  content: "24";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(24) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(24):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(25):after {
  content: "25";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(25) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(25):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(26):after {
  content: "26";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(26) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(26):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(27):after {
  content: "27";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(27) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(27):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(28):after {
  content: "28";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(28) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(28):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(29):after {
  content: "29";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(29) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(29):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-30 > div:nth-child(30):after {
  content: "30";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-30 > div:nth-child(30) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-30 > div:nth-child(30):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(1):after {
  content: "1";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(1) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(1):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(2):after {
  content: "2";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(2) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(2):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(3):after {
  content: "3";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(3) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(3):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(4):after {
  content: "4";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(4) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(4):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(5):after {
  content: "5";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(5) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(5):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(6):after {
  content: "6";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(6) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(6):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(7):after {
  content: "7";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(7) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(7):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(8):after {
  content: "8";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(8) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(8):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(9):after {
  content: "9";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(9) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(9):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(10):after {
  content: "10";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(10) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(10):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(11):after {
  content: "11";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(11) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(11):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(12):after {
  content: "12";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(12) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(12):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(13):after {
  content: "13";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(13) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(13):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(14):after {
  content: "14";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(14) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(14):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(15):after {
  content: "15";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(15) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(15):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(16):after {
  content: "16";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(16) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(16):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(17):after {
  content: "17";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(17) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(17):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(18):after {
  content: "18";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(18) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(18):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(19):after {
  content: "19";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(19) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(19):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(20):after {
  content: "20";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(20) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(20):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(21):after {
  content: "21";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(21) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(21):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(22):after {
  content: "22";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(22) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(22):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(23):after {
  content: "23";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(23) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(23):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(24):after {
  content: "24";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(24) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(24):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(25):after {
  content: "25";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(25) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(25):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(26):after {
  content: "26";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(26) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(26):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(27):after {
  content: "27";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(27) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(27):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(28):after {
  content: "28";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(28) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(28):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(29):after {
  content: "29";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(29) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(29):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(30):after {
  content: "30";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(30) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(30):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-31 > div:nth-child(31):after {
  content: "31";
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center; }

.calendar-31 > div:nth-child(31) {
  background-color: #eee;
  border: 1px solid black; }
  .calendar-31 > div:nth-child(31):hover {
    cursor: pointer;
    transform: translateY(-20px);
    background: pink; }

.calendar-mon div:first-child {
  grid-column-start: 1; }

.calendar-tue div:first-child {
  grid-column-start: 2; }

.calendar-wed div:first-child {
  grid-column-start: 3; }

.calendar-thu div:first-child {
  grid-column-start: 4; }

.calendar-fri div:first-child {
  grid-column-start: 5; }

.calendar-sat div:first-child {
  grid-column-start: 6; }

.calendar-sun div:first-child {
  grid-column-start: 7; }

/*# sourceMappingURL=style.css.map */
